{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'authentication/scss/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="{% url 'main' %}" class="header__logo">
                    <img src="{% static 'authentication/img/mospolytech-logo.svg' %}" alt="Логотип">
                </a>
                <div class="header__search search">
                    <input type="text" class="search__input" placeholder="Поиск...">
                    <a href="#" class="search__icon">
                        <img src="{% static 'authentication/img/search.svg' %}" alt="Поиск">
                    </a>
                </div>
                <a href="{% url 'login' %}" class="header__link">Войти</a>
                <a href="{% url 'registration' %}" class="header__link">Зарегистрироваться</a>
                <a href="{% url 'login' %}" class="header__icon">
                    <img src="{% static 'authentication/img/avatar-icon.svg' %}" alt="Войти в аккаунт">
                </a>
            </div>
        </header>
        <main class="main">
            <h1 class="visually-hidden">Портфолио студентов Московского Политеха</h1>
            <section class="introduction">
                <div class="introduction__container">
                    <h2 class="introduction__heading">Вход в профиль</h2>
                    <p class="introduction__text">Авторизируйтесь или создайте аккаунт, если еще не зарегистрированы.</p>
                    <a href="{% url 'registration' %}" class="introduction__button">Зарегистрироваться</a>
                </div>
            </section>
            <section class="login">
                <div class="login__container">
                    {% if messages %}
                        {%for message in messages %}
                            <div class="login__alert">
                                <span class="login__alert__close" onclick="this.parentElement.style.display='none';">&times;</span>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST" action="" class="login__form form">
                        {% csrf_token %}
                        <input type="text" class="form__input" placeholder="Введите email" name="username">
                        <input type="password" class="form__input" placeholder="Введите пароль" name="password">
                        <button type="submit" class="form__button">Войти</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <nav class="footer__navigation navigation">
                    <a href="{% url 'main' %}" class="navigation__link">Проекты и Достижения</a>
                    <a href="{% url 'login' %}" class="navigation__link">Войти</a>
                    <a href="{% url 'registration' %}" class="navigation__link">Зарегистрироваться</a>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>

<script>
    // Get all elements with class="closebtn"
    var close = document.getElementsByClassName("login__alert__close");
    var i;
    
    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
      // When someone clicks on a close button
        close[i].onclick = function(){
    
        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;
    
        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";
    
        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
</script>