@use "mixins";

*,
*::after,
*::before {
    @include mixins.reset;
    box-sizing: border-box;
}

body {
    background-color: brown;
    @include mixins.reset;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    margin: 0 auto;
}